<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="color:#444444; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; font-weight:300; margin:0; padding:0;">
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-style:normal; font-weight:300; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
       
            <!-- [ middle starts here] -->
			
			{{if smallOrder}}
            
<div class="" style="width:100%; max-width:535px; margin:0 auto;text-align: left;">
<div class="" style="min-height:132px; background-color:#fff; width:100%;margin:0 auto;text-align: center;"><img src="{{skin url="images/elements/logo.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" alt="{{var logo_alt}}" style="margin: 0;" border="0"/></div>
<div class="" style="background-color:#e9e5e5;font-family: 'Open Sans', sans-serif;padding: 50px 40px 10px 52px;font-size: 15px;">Hi {{htmlescape var=$order.getCustomerName()}},
<div class="" style=" margin-top:25px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">You have an awesome box heading your way soon!</div>
<div class="" style=" margin-top:25px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">If you would like to make any updates/changes to your child's
profile please login and submit within 24 hours of receipt of this
email to ensure these can be applied to this order. You will
receive an email with your USPS tracking number once it ships.</div>
<div class="you" style=" margin-top:35px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">You can:</div>
<ul class="" style="padding-left:19px !important;">
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;" href="{{store url="childprofile/"}}">Change childs profile</a></li>
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;"  href="{{store url="customer/paymentinfo/"}}">Change/update credit card info</a></li>
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;"  href="{{store url="customer/address/"}}">Change address</a></li>
</ul>
</div>
<div class="" style="background-color:#63bac3;">
<div class="" style="padding-left:52px; padding-top:20px; padding-bottom:20px;font-family: 'Open Sans', sans-serif;font-weight:300; color:#fff;line-height: 1.6;font-size: 15px;" >Kind and best regards,<br>
Sprouting Threads Support Team</div>
</div>
<div class="" style="width:100%; max-width:535px; margin:0 auto; background-color:#e9e5e5;font-family: 'Open Sans', sans-serif;padding: 18px 0px 10px 0px;">
<div class="" style="width:100%; max-width:535px; padding-left:52px; min-height: 40px;margin-top: 20px;">
<div class="" style="width:100%; max-width:75px; float:left;">
<img src="{{skin url="images/elements/fb.png" _area="frontend" _package="sproutingthreads" _theme="default"}}">&nbsp;<img src="{{skin url="images/elements/tw.png" _area="frontend" _package="sproutingthreads" _theme="default"}}">
</div>
<div class="" style="width:100%; max-width:235px; float:left;font-family: 'Open Sans', sans-serif;font-weight:300; font-size:13px;">
<img src="{{skin url="images/elements/mesg.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" style="float:left;">&nbsp;<div class="" style="margin-top:3px; margin-left:5px;float:left;">{{config path='trans_email/ident_support/email'}}</div>
</div>

<div class="" style="width:100%; max-width:200px; float:left;font-family: 'Open Sans', sans-serif;font-weight:300; font-size:13px;">
<img src="{{skin url="images/elements/phone.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" style="float:left;">&nbsp;<div class="" style="margin-top:3px; margin-left:5px;float:left;">{{config path='general/store_information/phone'}}</div>
</div>
</div>
</div>
</div>
  
			
			{{else}}
            
            
<div class="" style="width:100%; max-width:535px; margin:0 auto;text-align: left;">
<div class="" style="min-height:132px; background-color:#fff; width:100%;margin:0 auto;text-align: center;"><img src="{{skin url="images/elements/logo.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" alt="{{var logo_alt}}" style="margin: 0;" border="0"/></div>
<div class="" style="background-color:#e9e5e5;font-family: 'Open Sans', sans-serif;padding: 50px 40px 10px 52px;font-size: 15px;">Hi {{htmlescape var=$order.getCustomerName()}},
<div class="" style=" margin-top:25px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">Welcome to sprouting threads, you have an awesome box
heading your way soon!</div>
<div class="" style=" margin-top:25px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">Your order number is #{{var order.increment_id}} You will receive an email with your tracking info once it ships!</div>
<div class="you" style=" margin-top:35px;font-family: 'Open Sans', sans-serif;font-weight:300;font-size: 15px;">You can:</div>
<ul class="" style="padding-left:19px !important;">
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;" href="{{store url="childprofile/"}}">Change childs profile</a></li>
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;"  href="{{store url="customer/paymentinfo/"}}">Change/update credit card info</a></li>
<li style="color:#a5bf3a;font-family: 'Open Sans', sans-serif;font-weight:300; font-style:italic;font-size:13px;">
<a style="color: #a5bf3a;text-decoration: none;"  href="{{store url="customer/address/"}}">Change address</a></li>
</ul>
</div>
<div class="" style="background-color:#63bac3;">
<div class="" style="padding-left:52px; padding-top:20px; padding-bottom:20px;font-family: 'Open Sans', sans-serif;font-weight:300; color:#fff;line-height: 1.6;font-size: 15px;" >Kind and best regards,<br>
Sprouting Threads Support Team</div>
</div>
<div class="" style="width:100%; max-width:535px; margin:0 auto; background-color:#e9e5e5;font-family: 'Open Sans', sans-serif;padding: 18px 0px 10px 0px;">
<div class="" style="width:100%; max-width:535px; padding-left:52px; min-height: 40px;margin-top: 20px;">
<div class="" style="width:100%; max-width:75px; float:left;">
<img src="{{skin url="images/elements/fb.png" _area="frontend" _package="sproutingthreads" _theme="default"}}">&nbsp;<img src="{{skin url="images/elements/tw.png" _area="frontend" _package="sproutingthreads" _theme="default"}}">
</div>
<div class="" style="width:100%; max-width:235px; float:left;font-family: 'Open Sans', sans-serif;font-weight:300; font-size:13px;">
<img src="{{skin url="images/elements/mesg.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" style="float:left;">&nbsp;<div class="" style="margin-top:3px; margin-left:5px;float:left;">{{config path='trans_email/ident_support/email'}}</div>
</div>

<div class="" style="width:100%; max-width:200px; float:left;font-family: 'Open Sans', sans-serif;font-weight:300; font-size:13px;">
<img src="{{skin url="images/elements/phone.png" _area="frontend" _package="sproutingthreads" _theme="default"}}" style="float:left;">&nbsp;<div class="" style="margin-top:3px; margin-left:5px;float:left;">{{config path='general/store_information/phone'}}</div>
</div>
</div>
</div>
</div> 
			{{/if}}
         
    </td>
</tr>
</table>
</div>
</body>