<?xml version="1.0"?>
<config>
  <modules>
    <Naviz_Child>
      <version>0.1.0</version>
    </Naviz_Child>
  </modules>
  <global>
  
    <helpers>
      <child>
        <class>Naviz_Child_Helper</class>
      </child>
    </helpers>
	<blocks>
	  <child>
		<class>Naviz_Child_Block</class>
	  </child>
	  <adminhtml>
				<rewrite>
					<dashboard>Naviz_Child_Block_Adminhtml_Dashboard</dashboard>
				</rewrite>
			</adminhtml>
	  <adminhtml>
				<rewrite>
					<dashboard_orders_grid>Naviz_Child_Block_Adminhtml_Dashboard_Orders_Grid</dashboard_orders_grid>
				</rewrite>
		</adminhtml>
	  	
	</blocks>
  </global>
  <admin>
	<routers>
	  <child>
	    <use>admin</use>
		<args>
		  <module>Naviz_Child</module>
		  <frontName>admin_child</frontName>
		</args>
	  </child>
	</routers>
  </admin>
  <adminhtml> 
  <events>
            <adminhtml_customer_save_after>
                <observers>
                    <child_customer_save_success>
                        <type>singleton</type>
                        <class>Naviz_Child_Model_Observer</class>
                        <method>customer_save_after</method>
                    </child_customer_save_success>
                </observers>
            </adminhtml_customer_save_after>
		<core_block_abstract_prepare_layout_after>
            <observers>
                <child>
                    <class>Naviz_Child_Model_Observer</class>
                    <method>coreBlockAbstractPrepareLayoutAfter</method>
                </child>
            </observers>
        </core_block_abstract_prepare_layout_after>
        <core_block_abstract_to_html_after>
            <observers>
                <child>
                    <class>Naviz_Child_Model_Observer</class>
                    <method>coreBlockAbstractToHtmlAfter</method>
                </child>
            </observers>
        </core_block_abstract_to_html_after>
			
        </events>
	<layout>
	  <updates>
		<child>
		  <file>child.xml</file>
		</child>
	  </updates>
	</layout>
  </adminhtml>
</config> 