
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=70f4af13-b2f4-45fe-9b57-590143074b01&fontids=731010");
@font-face{
font-family:"AmericanTypwrter";
src:url("../fonts/3f151e9d-b34f-476b-9d6e-15779083f80f.eot?#iefix");
src:url("../fonts/3f151e9d-b34f-476b-9d6e-15779083f80f.eot?#iefix") format("eot"),url("Fonts/731010/e6d44dab-a04b-4199-8e5b-982c8cea39b6.woff") format("woff"),url("../fonts/3da61d62-d39f-4bbe-978a-dd2feff89180.ttf") format("truetype"),url("../fonts/84a639b4-b415-4952-9945-151693076ef8.svg#84a639b4-b415-4952-9945-151693076ef8") format("svg");
}
