.product-view {
	display: none;
}

.cart {
	display: none;
}

#opc-review #checkout-agreements .buttons-set {
	display: none;
}


#cart {
	/*display: none;*/
}	


/** Integration CSS **/
footer {
	clear: both;
}

.picky-copy a {
	display: inline-block;
}

.picky-copy textarea {
	margin-bottom: 0px;
	text-align: left !important;
}

html {
	height: 100% !important;
}

/** Product Detail Page **/

.girl input[type=radio] + label,
.boy input[type=radio] + label {
	width: 70px;
	height: 208px;
	background: url("../images/elements/girl-boy-sprite.png");
	display:inline-block;
}

.girl input[type=radio] {
display:none;
}
 
.girl input[type=radio] + label
{
margin-top: 20px;
padding: 0 0 0 0px;
background-position: 0px 0px;
}
.girl input[type=radio]:checked + label
{
margin-top: 20px;
padding: 0 0 0 0px;
background-position: 0px -208px;
}
.boy input[type=radio] {
display:none;
}
 
.boy input[type=radio] + label
{
margin-top: 20px;
padding: 0 0 0 0px;
background-position: -112px -0px;
}
.boy input[type=radio]:checked + label
{
margin-top: 20px;
padding: 0 0 0 0px;
background-position: -112px -208px;
}

input[type=radio].error + label {
	border: 3px solid #f00;
}

#productSub #name {
	margin: 95px 0 0 20px;
}

#productSub .error {
	border-color: #f00;
}

.birthdayRow section {
	padding-right: 0px !important;
}

.birthdayRow .col-1 {
	width: 80px;
	display: inline-block;
}	

.home-image {
	
}



.selector img {
	max-width: 284px;
	max-height: 284px;
}


/** Cart / Pricing **/

#cart input[type=checkbox] {
	top: 0px;
	left: 0px;
}

.optionSet a {
	color: #ccc;
	outline: none;
}

.optionSet .textLabel {
	color: #ccc;
}

.optionSet .active .textLabel {
	color: #898585;
}

.rowActive {
	color: #898585;
}

.rowActive .textLabel {
	color: #898585;
}

.rowActive a {
	color: #898585;
}

.optionSet a.active {
	color: #898585;
}

.checkout .step-title h2 {
	color: #999;
}	

.SELECTED {
	border: 1px solid #f00;
}

.textLabel {
	font-size: 27px;
}

/** Home Page Tweaks **/

h6 {
	padding-bottom: 5px;
}

.sky-form .select i {
	width: 1px;
	pointer-events: none;
}

.top-section-start {
	margin-top: 95px;
}


.home-section-3 h2 {
	width: 400px;
	margin-left: 140px;
}

@media screen and (max-width: 1150px) {
	.home-section-3 h2 {
		width: 100%;
		margin-left: 0px;
	}	
}

@media screen and (max-width: 720px) {
	.home-section-3 h1 {
		margin-top: 70px !important;
	}
}

@media screen and (max-width: 616px) {
	.home-section-3 h1 {
		margin-top: 80px !important;
	}
	
	#productSub .column.four {
		text-align: center;
	}		
	
	#productSub #name {
		margin: 95px auto !important;
	}	
	
	#productSub .column.seven {
		width: 100%;
	}
	
	.table {
		padding-right: 0px;
	}
	
	.pricing-container .assortment {
		padding: 0px !important;
	}
	
	.pricing-container .column,
	.pricing-container .subSet,
	.pricing-container .optionSet {
		display: inline-block;
	}
	
	.pricing-container .optionSet a	{
		font-size: 18px;
		line-height: 18px;
	}
	
	.pricing-container h1 {
		height: 66px !important;
	}
	.pricing-container .table-frequency h1 {
		font-size: 18px;
	}	
	.pricing-container .table-frequency label {
		text-align: center;
		font-size: 18px;
		line-height: 18px;
	}	
	
	.pricing-container .table-frequency>ul>li {
		margin-right: 5px;
	}
	.pricing-container .list-box>li {
		width: 110px !important;
		padding: 0px !important;
	}
	
	.pricing-container .list-box>li li {
		width: 100px !important;
		padding: 10px 0px 10px 0px !important;
	}
	
	.pricing-container .list-box-content ul>li i {
		left: -8px;
	}
	
}

.start-section-4 {
	margin-bottom: 20px;
}



.contentWrapper {
	margin: 200px auto;
	max-width: 1140px;
	width: 100%;
}

/** Checkout Process **/

/*
body select {
	padding: 5px 5px 5px 5px;
	height: 48px;
}
*/

.checkout {
	font-size: 15px;
}

.checkout .step-title h2 {
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: lowercase;
	margin-bottom: 30px;
}

.checkout .allow .step-title h2 {
	color: #333;
	cursor: pointer;
}

.checkout .allow.active .step-title h2 {
	color: #a5bf3a !important;
}

.checkout .opc {
	list-style: none;
	margin: 0px auto;
	max-width: 525px;
}

.checkout .number {
	display: none;
}

.checkout .step-title a {
	display: none !important;
	float: right;
	position: relative;
	display: none;
	top: -48px;
	text-transform: lowercase;
}

.checkout .row {
	text-align: left;
}



.checkout .sky-form input.no-display {
	display: none !important;
}
.checkout .sky-form input[type=text],
.checkout .sky-form input[type=password],
.checkout .sky-form input[type=email],
.checkout .sky-form input[type=tel],
.checkout .sky-form textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	border-color: #f7f7f7;
	background: #f7f7f7;
	font: 18px 'AvantGardeGothicITCW02XLt', sans-serif;
	color: #444444;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;

}



#opc-login .col-1, 
#opc-login .col-2 {
	width: 48%;
	display: block;
	float: left;
	text-align: left;
	height: 380px;
}

#opc-login p {
	text-align: left;
}

#opc-login .col-1 ul {
	margin-top: 15px;
}
#opc-login .col-1 ul li {
	list-style: circle;
	margin-left: 15px;
	text-indent: 10px;
}

.checkout h3 {
	line-height: 28px;
	margin-bottom: 15px;
}

.checkout .sky-form select {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	border-color: #f7f7f7;
	background: #f7f7f7;
	font: 18px 'AvantGardeGothicITCW02XLt', sans-serif;
	color: #444444;
}

.checkout .control {
	margin: 5px auto;
	width: 50%;
}
.checkout .sky-form .radio, .checkout .sky-form input[type=radio] {
	display: inline-block;
	margin-right: 10px;
}


.checkout .buttons-set {
	margin: 20px 0 20px 0;
	text-align: center;
	position: relative;
}

.checkout .buttons-set .button {
	display: inline-block;
}
.checkout .back-link {
	display: inline-block;
	margin-right: 20px;
}

#checkout-shipping-method-load {
	text-align: center;
}

.checkout .wide {
	margin: 0 0 20px 0;
}

.checkout .step {

	
}

.checkout .sky-form input:focus,
.checkout .sky-form select:focus,
.checkout .sky-form textarea:focus {
	/*border-color: #63bac3;*/
	border-color: #a5bf3a;
}


.checkout .section {
	margin-bottom: 50px;
}

.checkout .allow .step-title a {
	display: block;
}

.checkout .required {
	padding: 0px 0 10px 0;
}

.checkout label {
	font-size: 15px;
}

.checkout .field,
.checkout .authnetcim_new {
	margin: 0 0 10px 0;
}
.checkout .field label
.checkout .authnetcim_new label {
	margin: 0 0 5px 0;
}

.checkout .field .required em,
.checkout .authnetcim_new .required em {
	margin-right: 5px;
}

.checkout .sky-form .button {
	background: #a5bf3a;
}
.checkout .sky-form .button:hover {
	background: #fff;
}

.checkout .sky-form .validation-failed {
	border-color: #f00 !important;
}

.checkout .month,
.checkout .year {
	display: inline-block !important;
	width: 200px !important;
}

.checkout .v-fix {
	display: inline-block;
}

.checkout .remember-me-popup {
	display: none !important;
}

.checkout .please-wait {
	position: absolute;
	top: 15px;
	right: -50px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 24px;
	height: 24px;
	white-space: nowrap;
}

.checkout .please-wait img {
	display: block;
	float: left;
	margin-right: 5px;
	width: 24px;
}

.data-table {
	width: 100%;
}

.data-table th,
.data-table td {
	padding: 4px 5px 4px 5px;
}

.data-table thead {
	background: #f7f7f7;
}

/** Product select **/

.select-button.selected {
	color: #fff;
	background: #444;
}

.customer-account .col-left {
	display: inline-block;
	float: left;
	width: 250px;

}

.customer-account .manage-payment-method {
	width: 700px;
	float: left;
}	

.customer-account .my-account {
	display: inline-block;
	width: 700px;
}

.customer-account .box-info {
	clear: both;
}

#return.box-info {
	height: 150px;
}

.customer-account .col2-set,
.customer-account .box-account,
.customer-account .box-info {
	clear: both;
	margin: 20px 0 20px 0;
}
.customer-account .col2-set .col-1,
.customer-account .col2-set .col-2 {
	float: left;
	width: 300px;
}

.styles-banners h6, 
.styles-banners h2 {
	margin-bottom: 0px;
}

.lm-button-blue {
	white-space:nowrap;
}

.modal {
	z-index: 5000;
}


/** Global Styles **/

#productSub,
.top-section-billing,
.cms-styles,
#cart {
	text-transform: lowercase;
}

.agreement-content {
	display: block;
	overflow: auto;
	border: 1px solid #333;
	
	margin: 20px 0 20px 0;
}

#twitterFooter {
	margin-left: -5px;
	margin-right: 3px;
}

.agree input[type=checkbox] {
	top: 0px;
	left: 0px;
	margin-right: 10px;
}


#cart .checkbox input:hover + i:after,
#cart .checkbox input + i:after {
	color: #a5bf3a;
}

#cart .checkbox input:hover + i{
	border-color: #a5bf3a !important;
}

#cart .radio input:checked +i,
#cart .checkbox input:checked + i {
	border-color: #a5bf3a;
}

.main-section-pricing .monthly, 
.main-section-pricing .seasonal {
	display: none;
}

.main-section-pricing .monthly.active, 
.main-section-pricing .seasonal.active {
	display: block;
}

#login-form .col-1,
#login-form .col-2 {
	position: relative;
	width: 48%;
	min-height: 370px;

	float: left;
	margin-bottom: 100px;
}

#login-form .col-1 {
	display: none;
}

#login-form .buttons-set {
	width: 100%;
	position: absolute;
	bottom: -80px;
}

#login-form button {
	margin-left: 0px !important;
}

.remember-me-popup {
	display: none !important;
}

#login-form a.button,
#login-form button {
	display: block;
	width: 50%;
	margin: 20px auto;
}

#login-form .form-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

.account-login {
	width: 700px;
	margin: 0px auto;
}

.box-info {
	clear: both;
}

.my-account input[type=text],
.my-account input[type=email],
.my-account input[type=password] {
	padding: 3px 5px 3px 5px;
	margin-bottom: 5px;
}

.my-account .field {
	margin-top: 5px;
}

.my-account .fieldset {
	margin-bottom: 50px;
}


#checkout-review-table .item-options {

}

#checkout-review-table .item-options dt {
	float: left;
	display: block;
	clear: both;
	width: 100px;
	font-weight: bold;
}

#checkout-review-table .item-options dd {
	float: left;
	display: block;
}

#return .button-set {
	width: 100%;
}

#return .button {
	width: 30%;
}

#return #rethread {
	float: left;
}

#return #return {
	float: right;
}

#return .thanks {
	padding: 20px 0 20px 0;
	text-align: center;
	font-weight: bold;
}


.customer-account .block-title {
	margin-bottom: 15px;
	font-weight: bold;
}

#contactFormField {
	text-align: left;
	width: 100%;
	height: 150px;
	padding: 5px 10px 5px 10px;
	margin: 15px 0 15px 0;
}

#contactFormSection {
	margin-top: 50px;
}
#contactFormSection .button {
	width: 30%;
	float: left;
	
}

#cartIcon {
	position: relative;
	display: block;
	text-indent: -9999px;
	height: 36px;
	top: 10px;
	width: 36px;
	background: transparent url(../images/cart.png) no-repeat;
}	

.home-image a {
	float: left;
}

ul.list-box .title-box,
ul.list-box .title-box-pink {
	font-size: 22px;
}

/** Color Product boxes **/

.collapse-vintage-list .collapse-vintage-inner {
	background-color: #fcfaf9;
}

.collapse-classic-list .collapse-classic-inner {
	background-color: #ececec;
}

.collapse-sporty-list .collapse-sporty-inner {
	background-color: #eff8f9;
}

.collapse-funky-list .collapse-funky-inner {
	background-color: #f4f6ed;
}

#sky-form .note {
}

.pricing-container .sky-form .checkbox i {
	border-color: #ccc;
}


/** Checkout Page **/

#opc-login .col-1 {
	width: 100%;
}

.checkout .section {
	clear: both;
}

.checkout .buttons-set {
	clear: both;
}

#revealLogin {
	margin: 0px auto;
	display: block;
	width: auto;
	text-align: center;
}

.checkout #opc-login .col-1, 
.checkout #opc-login .col-2 {
	height: auto;
	width: 100%;
}

.hiddenLogin {
	display: none;
}

.checkout-cart-index .brands h3 {
	display: none;
}

.checkout-cart-index .brands {
	padding: 10px 0 20px 0;
}

.contentWrapper {
	min-height: 400px;
}

.uploadHolder {
	display: block; 
	position: absolute; 
	overflow: hidden; 
	margin: 0px; padding: 0px; opacity: 0; 
	direction: ltr; 
	z-index: 2147483583; 
	left: 475px; 
	top: 175px; 
	width: 102px; 
	height: 34px; visibility: hidden;
}

#uploadBtn {
	border: 3px solid #a5bf3a !important;
	background: #a5bf3a;
	color: #fff;
	padding: 4px 12px 4px 12px;
	width: 195px;
	cursor: pointer;
}

#fileUploadSection {
	cursor: pointer;
}

#fileUploadSection:hover #uploadBtn {
	color: #a5bf3a !important;
	background: #fff !important;
	
}

.selectorNav {
	clear: both;
	display: block;
	text-align: center;
}

.selectorNav a {
	display: inline-block;
}

.selectorNav .count {
	display: inline-block;
}

.selectorNav .back {
	margin-right: 10px;
}

.selectorNav .next {
	margin-left: 10px;
}

.invalidAttribute {
	display: none !important;
}

/** Fix Account Styling **/

.customer-account .sky-form button,
.customer-account .sky-form a.button {
	border: 3px solid #63bac3 !important;
	background: #63bac3 !important;
}
.customer-account .sky-form button:hover,
.customer-account .sky-form a.button:hover {
	color: #63bac3 !important;
	background: #fff !important;
}

.customer-account .col-1,
.customer-account .col-2 {
	width: 100% !important;
	clear: both;
	float: none !important;
}

.customer-account .dashboard .col-1,
.customer-account .dashboard .col-2 {
/*
	width: 40% !important;
	clear: none;
	float: left !important;
	margin-top: 0px !important;
	margin-right: 10px;
*/
}


.customer-account .col-2 {
	margin-top: 30px;
}

.customer-account ol {
	margin-left: 20px;
}

.customer-account .buttons-set {
	text-align: left;
}

.customer-account .buttons-set form {
	display: inline-block;
}

.customer-account h1{
	margin-top: 0px;
	margin-bottom: 30px;
}


.customer-account h2{
	margin-top: 40px;
	margin-bottom: 10px;
}


.customer-account h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.customer-account h4 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#header-section input[type=checkbox] {
	top: -9999px;
	left: -9999px;
}

.customer-account input[type=checkbox] {
	top: auto;
	left: auto;
}

#checkout-step-login input[type=checkbox],
.account-login input[type=checkbox] {
	top: auto;
	left: auto;
	margin-right: 10px;
}

#checkout-step-login .form-list li,
.account-login .form-list li {
	margin-bottom: 20px;
}
#checkout-step-login .remember-me-box,
.account-login .remember-me-box {
	width: 100%;
}
#checkout-step-login .remember-me-box .input-box,
.account-login .remember-me-box .input-box {
	float: left;
}

.product-view #product-options-wrapper select {
	color: #000 !important;
	line-height: 22px;
	padding: 5px !important;
	height: 50px !important;
}

/** Fix cart formatting **/

#checkout-review-table tfoot tr:nth-child(1)
#checkout-review-table tfoot tr:nth-child(2) {
	display: none;
}

.pricing-container .table.quantity {
	/*padding-left: 0px;*/
}

.pricing-container .subSet {
	/* margin-left: -80px !important; */
}

.pricingSection span.note {
	margin-top: 10px;
	font-weight: bold;
}

#profileShipList {
	margin-top: 10px;
	width: 200px;
	float: right;
	font-weight: bold;
	
	border: 1px solid #63bac3;
	padding: 10px;
}

#profileShipList b {
	font-weight: bold;
}

#profileShipList .profileShip {
	margin-bottom: 20px;
}

.checkoutPromo {
	position: relative;
	clear: both;
	padding-top: 20px;
}

#opc-review #checkout-agreements #review-buttons-container {
	display: block;
}



/* reThread Landing Page
================================================== */
.steps {
	margin: 45px auto;
	padding: 20px 20px 0 20px;
	display:inline-block;
	position: relative;
	text-align:center;
	vertical-align:top;
}
.steps h1 {
	color: #333;
	padding: 0 0 5px 0;
	font-weight: normal;
    font-size: 22px;
	font-family: 'AvantGardeGothicITCW02Md', sans-serif;	
}
.steps p {
	color: #333;
	padding: 0 0 5px 0;
	font-weight: normal;
    font-size: 15px;
	font-family: "ITCAvantGardeW04-Book", Helvetica, Arial, sans-serif;
}
.steps img {
	padding: 0;
	border: none;
}
.top-section-rethread-landing {
    background-color: #fff;
    height: 450px;
    padding: 60px 0;
}
.rethread-image-landing {
	background-image: url('../images/bg/rethread-landing-bg.jpg');
}
.top-section-rethread-landing h1 {
	color: #fff;
	font-size: 72px;
	text-align: left;
	line-height: 78px;
	padding-top: 230px;
}

/* Rethread form */

#rethreadForm {
	display: block;
	width: 520px;
	margin: 20px auto;
	margin-bottom: 60px !important;

}

#rethreadForm input {
	border: none;
}

#rethreadForm .half,
#rethreadForm .half2 {
	display: inline-block;
	width: 255px;
	margin: 0px;
}

#rethreadForm .half2 {
	margin-left: 5px;
}

#rethreadForm .input-box {
	margin: 0 0 10px 0;
}

.checkout .list-section {
	max-width: 525px;
}

#detailsList {
	font-size: 16px;
	line-height: 25px;
}

#detailsList li {
	margin-bottom: 10px;
}