<?xml version="1.0"?>
<config>
    <modules>
        <Exercise_CustomSales>
            <version>0.1.1</version>
        </Exercise_CustomSales>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Exercise_CustomSales/>
            </modules>
        </suite>
    </phpunit>
    <global>   
        <blocks>
            <Exercise_CustomSales>
                <class>Exercise_CustomSales_Block</class>
            </Exercise_CustomSales>
        </blocks>
        <helpers>
            <exercise_customsales>
                <class>Exercise_CustomSales_Helper</class>
            </exercise_customsales>
        </helpers>
    </global>
    <frontend>
        <routers>
            <exercise_customsales>
                <use>standard</use>
                <args>
                    <module>Exercise_CustomSales</module>
                    <frontName>modulename</frontName>
                </args>
            </exercise_customsales>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <exercise_customsales before="Mage_Adminhtml">Exercise_CustomSales_Adminhtml</exercise_customsales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <exercise_customsales module="exercise_customsales">
                    <file>test.xml</file>
                </exercise_customsales>
            </updates>
        </layout>
    </adminhtml>
</config>